
<div class="main">
  <div class="content">
    <mat-card class="mat-card" role="group">
      <mat-card-header class="mat-card-header">
        <mat-card-title class="mat-card-title" id="star-wars-title">Star Wars Movies</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-card-content">
        <mat-selection-list class="mat-selection-list">
          <ng-container *ngFor="let movie of movies">
            <mat-list-option class="mat-list-option" *ngIf="movie.enabled;else disabledItem" (click)="movie.selected = !movie.selected"
              [ngClass]="{'strike' : movie.selected}">
              {{movie.title}}
            </mat-list-option>
            <ng-template #disabledItem>
              <mat-list-item class="mat-list-item">{{movie.title}}</mat-list-item>
            </ng-template>
          </ng-container>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>